<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="appController">
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="app-level">
      <div style="height: 30%">
          APP level | Global State Object: {{globalState}}<br>
          <div class="notification-block">
            <button ng-click='broadcastChangeColor()'>Broadcast Change Color</button>
            <form ng-submit="changeColor()">
                Input Element id (11,12,13,..)
                <input type="text" ng-model="elemId" name="text" />
                <input type="submit" id="submit" value="Change Cell Color" />
            </form>
            <form ng-submit="changeRowColor()">
                Input group name (row1,row2,column1...)
                <input type="text" ng-model="groupName" name="text" />
                <input type="submit" id="submit" value="Change Group Color" />
            </form>
            <form ng-submit="sendMessage()">
                Send message to Element: <br>
                To ElemId: <input type="text" ng-model="message.sender" name="text" /><br>
                Message: <input type="text" ng-model="message.content" name="text" /><br>
                <input type="submit" id="submit" value="Send" />
            </form>
          </div>
          <div class="request-block">
              <button ng-click="requestItem()">Request object from view 1</button><br>
              Display result: <input type="text" ng-model="requestedItem.response.value" name="text" />{{requestedItem.status}}
              <div><br>
              <button ng-click="chainRequestItem()">Chain Request</button>{{chainResponse.status}}<br>
              <button ng-click="autoChainRequestItem()">Auto Chain Request</button>  {{count}} requests in {{time}} s | {{chainResponse.status}}<br>
              <br>
                </div>
          </div>
          <div class="result-block">Request Result: <br>{{chainResponse.response}} <br></div>
      </div>
      <div ng-view class="view-block"></div>
          
  </div>
  

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="ngHub.js" type="text/javascript"></script>
  <script src="directive/element1.js" type="text/javascript"></script>
  <script src="directive/element2.js" type="text/javascript"></script>
  <script src="directive/element3.js" type="text/javascript"></script>
  <script src="directive/element4.js" type="text/javascript"></script>
  <script src="directive/element5.js" type="text/javascript"></script>
  <script src="directive/element6.js" type="text/javascript"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
