View level: view state value <input type='text' ng-model='viewState.response.value' name='text' /><br>
Object for request: {{itemView1}} <br>
<button ng-click="reply()">Click to reply</button> <br>

<div style='display: table-row'>
    <div first-element style='display: table-cell'></div>
    <div second-element style='display: table-cell'></div>
    <div third-element style='display: table-cell'></div>
</div>
<div style='display: table-row'>
    <div fourth-element style='display: table-cell'></div>
    <div fifth-element style='display: table-cell'></div>
    <div sixth-element style='display: table-cell'></div>
</div>

